/* Use reference colours from the default colour scheme here so that the colors module can overwrite them */
$colour-ctrl-background:#006699;
$colour-ctrl-background-light:lighten(#006699, 10%);
$colour-ctrl-text:#ffffff;

$colour-header-text:#333333;